<!DOCTYPE html>
<html>
<head>

<title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="signin.css">
</head>
<body>
    <div class="signup-form">
      <h2>Sign in</h2>
      <form>
      <input type="email" class="input-form" placeholder="Enter email">
        <input type="password" class="input-form" placeholder="Enter Password">
        
        <button type="button" class="signup-btn">Sign in</button>
       
        <p type="or" >OR</p>

        <button type="button" class="signup-btn">Sign in with Gmail</button>
      </form>
    </div>
